<div class="flex-container">
    <div class="cell-box">&nbsp;</div>
    <div class="cell-box">&nbsp;</div>
    <div class="cell cell-box" (click)="selectPosition(1)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[0].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[0].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[0].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[0].loyalty}}</div>
        </div>
    </div>
    <div class="cell-box">&nbsp;</div>
    <div class="cell-box" style="margin: auto; text-align: center;">
        <b>{{rating}}</b>
    </div>
</div>
<div class="flex-container">
    <div class="cell cell-box" (click)="selectPosition(2)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[1].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[1].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[1].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[1].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(3)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[2].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[2].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[2].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[2].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(4)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[3].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[3].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[3].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[3].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(5)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[4].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[4].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[4].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[4].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(6)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[5].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[5].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[5].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[5].loyalty}}</div>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="cell cell-box" (click)="selectPosition(7)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[6].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[6].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[6].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[6].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(8)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[7].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[7].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[7].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[7].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(9)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[8].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[8].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[8].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[8].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(10)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[9].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[9].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[9].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[9].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(11)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[10].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[10].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[10].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[10].loyalty}}</div>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="cell-box">&nbsp;</div>
    <div class="cell cell-box" (click)="selectPosition(12)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[11].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[11].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[11].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[11].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(13)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[12].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[12].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[12].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[12].loyalty}}</div>
        </div>
    </div>
    <div class="cell cell-box" (click)="selectPosition(14)">
        <div>
            <div class="row">Form</div>
            <div class="row">{{players[13].form}}</div>
        </div>
        <div>
            <div class="row">Stamina</div>
            <div class="row">{{players[13].stamina}}</div>
        </div>
        <div>
            <div class="row">PlayMaking</div>
            <div class="row">{{players[13].playMaking}}</div>
        </div>
        <div>
            <div class="row">Loyalty</div>
            <div class="row">{{players[13].loyalty}}</div>
        </div>
    </div>
    <div class="cell-box">&nbsp;</div>
</div>