<div class="row">
    <div class="col-6 col-md-6">
        <form id="my-form">
            <div class="form-group">
                <label>{{ 'TRAINING.skill' | translate }}</label>
                <select class="form-control" (change)=trainingChange($event)>
                    <option *ngFor='let item of skillNames; let i = index' value="{{skillvalues[i]}}">{{item}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.years' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="years" name="years" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.days' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="days" name="days" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.skilllevel' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="skilllevel" name="skilllevel" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.subskill' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="subskill" name="subskill" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.coachlevel' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="coachlevel" name="coachlevel" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.assistants' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="assistants" name="assistants" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.intensity' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="intensity" name="intensity" value="0" />
            </div>
            <div class="form-group">
                <label>{{ 'TRAINING.stamina' | translate }}</label>
                <input class="form-control" type="number" [(ngModel)]="stamina" name="stamina" value="0" />
            </div>
            <button class="btn btn-primary" type="button" (click)='trainingcalc()'>{{ 'TRAINING.SUBMIT' | translate }}</button>
        </form>
    </div>
    <div class="col-6 col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'TRAINING.skill' | translate }}</th>
                    <th>{{ 'TRAINING.weeks' | translate }}</th>
                    <th>{{ 'TRAINING.age' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of results'>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
            </tbody>
        </table>

        <p style="color: slategray">Formula by ht-tools.eu</p>
    </div>
</div>
