<div>
    <div>

        <div>


            <div>

                <div id="tool">

                    <div>

                        <form id="my-form-1">

                            <div><b>mediclevel</b></div>
                            <div>
                                <div id="slider-medic"></div><input [(ngModel)]="mediclevel" name="mediclevel" type="text"
                                    id="medic-value" value="0" />
                            </div>
                            <div><b>age</b></div>
                            <div>
                                <div id="slider-age"></div><input [(ngModel)]="age" name="age" type="text" id="age-value"
                                    value="0" />
                            </div>

                            <div><b>injuryweeks</b></div>
                            <div>
                                <div id="slider-weeks"></div><input [(ngModel)]="injuryweeks" name="injuryweeks" type="text"
                                    id="weeks-value" value="0" />
                            </div>
                            <button type="button" (click)='healingcalc()'>Submit</button>
                        </form>

                    </div>

                    <div>
                        <table id="resultstable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>updates</th>
                                    <th>weeks</th>
                                    <th>days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>bruised</b></td>
                                    <td>{{update_b}}</td>
                                    <td>{{week_b}}</td>
                                    <td>{{day_b}}</td>
                                </tr>
                                <tr>
                                    <td><b>healthy</b></td>
                                    <td>{{update}}</td>
                                    <td>{{week}}</td>
                                    <td>{{day}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>
    </div>
