<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label>{{ 'HEALING.MEDIC_LEVEL' | translate }}</label>
                <input class="form-control" [(ngModel)]="mediclevel" name="mediclevel" type="number" min="0" max="5" />
            </div>

            <div class="form-group">
                <label>{{ 'HEALING.AGE' | translate }}</label>
                <input class="form-control" [(ngModel)]="age" name="age" type="number" min="17" max="38" />
            </div>

            <div class="form-group">
                <label>{{ 'HEALING.INJURY_WEEKS' | translate }}</label>
                <input class="form-control" [(ngModel)]="injuryweeks" name="injuryweeks" type="number" value="0" />
            </div>
            <button class="btn btn-primary"  type="button" (click)='healingcalc()'>{{ 'HEALING.SUBMIT' | translate }}</button>
        </form>
    </div>

    <div class="col-md-6">
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'HEALING.HEALTH_UPDATES' | translate }}</th>
                    <th>{{ 'HEALING.WEEKS' | translate }}</th>
                    <th>{{ 'HEALING.DAYS' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>{{ 'HEALING.BRUISED' | translate }}</b></td>
                    <td>{{update_b}}</td>
                    <td>{{week_b}}</td>
                    <td>{{day_b}}</td>
                </tr>
                <tr>
                    <td><b>{{ 'HEALING.HEALTHY' | translate }}</b></td>
                    <td>{{update}}</td>
                    <td>{{week}}</td>
                    <td>{{day}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
