<div>

    <div>

        <form>

            <div><b>mediclevel</b></div>
            <div>
                <div></div>
                <input [(ngModel)]="mediclevel" name="mediclevel" type="number" min="0" max="5"/>
            </div>
            <div><b>age</b></div>
            <div>
                <div></div>
                <input [(ngModel)]="age" name="age"  type="number" min="17" max="38"/>
            </div>

            <div><b>injuryweeks</b></div>
            <div>
                <div></div>
                <input [(ngModel)]="injuryweeks" name="injuryweeks" type="number" value="0" />
            </div>
            <button type="button" (click)='healingcalc()'>Submit</button>
        </form>

    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>updates</th>
                    <th>weeks</th>
                    <th>days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>bruised</b></td>
                    <td>{{update_b}}</td>
                    <td>{{week_b}}</td>
                    <td>{{day_b}}</td>
                </tr>
                <tr>
                    <td><b>healthy</b></td>
                    <td>{{update}}</td>
                    <td>{{week}}</td>
                    <td>{{day}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
