<!--The content below is only a placeholder and can be replaced.-->
<div lang="{{lang}}" dir="{{dir}}">
    <app-header></app-header>
    <main role="main" class="container">
        <router-outlet></router-outlet>
    </main><!-- /.container -->

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style="margin: 16px;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Developer:
            <a href="http://www.adicom.ir"> Yashar Panahi</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>‌
