<div class="row">

    <div class="col-6 col-md-6">
        <div>
            <h5>accordingtofan</h5>

            <br>
            <form>
                <div><b>fansmood</b><span></span></div>
                <div>
                    <div></div><input type="number" value="0" />
                </div>

                <div>
                    <input type="number">
                    <label for="fans">fansmembers</label>
                </div>

                <button type="button" (click)='fancalc()'>Submit</button>
            </form>
        </div>

        <form>
            <h5>accordingtosize</h5>
            <div>
                <input name="arenasize" type="number" [(ngModel)]="arenasize">
                <label for="arenasize">arenasize</label>
            </div>
            <div>
                <input name="terper" type="number" [(ngModel)]="terper" min="0" max="100">
                <label for="terper">terraces (%)</label>
            </div>
            <div>
                <input name="basper" type="number" [(ngModel)]="basper" min="0" max="100">
                <label for="basper">basic (%)</label>
            </div>
            <div>
                <input name="roofper" type="number" [(ngModel)]="roofper" min="0" max="100">
                <label for="roofper">roof (%)</label>
            </div>
            <div>
                <input name="vipper" type="number" [(ngModel)]="vipper" min="0" max="100">
                <label for="vipper">vip (%)</label>
            </div>
            <br>
            <button type="button" (click)='sizecalc()'>Submit</button>
        </form>

    </div>

    <div class="col-6 col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>seats</th>
                    <th>currentarena</th>
                    <th>seatstoadd</th>
                    <th>arenasize</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>terraces</td>
                    <td></td>
                    <td></td>
                    <td>{{terraces}}</td>
                </tr>
                <tr>
                    <td>basic</td>
                    <td></td>
                    <td></td>
                    <td>{{basic}}</td>
                </tr>
                <tr>
                    <td>roof</td>
                    <td></td>
                    <td></td>
                    <td>{{roof}}</td>
                </tr>
                <tr>
                    <td>vip</td>
                    <td></td>
                    <td></td>
                    <td>{{vip}}</td>
                </tr>
                <tr>
                    <td><b>totalcapacity</b></td>
                    <td></td>
                    <td></td>
                    <td>{{terraces+basic+roof+vip}}</td>
                </tr>
                <tr>
                    <td>income</td>
                    <td></td>
                    <td></td>
                    <td>{{income}}</td>
                </tr>
                <tr>
                    <td>weeklycost</td>
                    <td></td>
                    <td></td>
                    <td>{{weekly_cost}}</td>
                </tr>
                <tr>
                    <td>costofconstruction</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
