<div id="tool">

    <div>
        <div>
            <h5>accordingtofan</h5>

            <br>
            <form id="my-form-1">
                <div><b>fansmood</b><span id="fansmood"></span></div>
                <div>
                    <div id="slider-fansmood"></div><input type="text" id="fansmood-value" value="0" />
                </div>

                <div>
                    <input id="fans" type="text" value="{{param['fans']}}">
                    <label for="fans">fansmembers</label>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>

        <form id="my-form-2">
            <h5>accordingtosize</h5>
            <div>
                <input id="arenasize" type="text" value="{{param['arenasize']}}">
                <label for="arenasize">arenasize</label>
            </div>
            <div>
                <input id="terper" type="text" value="{{param['terper']}}">
                <label for="terper">terraces (%)</label>
            </div>
            <div>
                <input id="basper" type="text" value="{{param['basper']}}">
                <label for="basper">basic (%)</label>
            </div>
            <div>
                <input id="roofper" type="text" value="{{param['roofper']}}">
                <label for="roofper">roof (%)</label>
            </div>
            <div>
                <input id="vipper" type="text" value="{{param['vipper']}}">
                <label for="vipper">vip (%)</label>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>

    </div>

    <div>
        <table id="resultstable">
            <thead>
                <tr>
                    <th>seats</th>
                    <th>currentarena</th>
                    <th>seatstoadd</th>
                    <th>arenasize</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>terraces</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>basic</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>roof</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>vip</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>totalcapacity</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>income</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>weeklycost</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>costofconstruction</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
